html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
         form(action="/transactions/create", method="POST") 
             label account-number: 
             input(type="number" name="accountId") 
             br
             hr
             label transaction-type: 
             select(type="text" name="transactionType") 
               option Select type
               option deposit 
               option withdraw
             br
             hr
             label amount: 
             input(type="number" name="amount") 
             br
             hr
             input(type="submit" value="create")         